<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niudada.dao.NoticeDao">

    <!-- 通用resultMap -->
    <resultMap type="com.niudada.entity.Notice" id="Notice">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="auth" jdbcType="INTEGER" property="auth" />
        <result column="date" jdbcType="DATE" property="date" />
    </resultMap>
    <!-- 插入 返回主键 -->
    <insert id="create" keyProperty="id" useGeneratedKeys="true" parameterType="com.niudada.entity.Notice">
		insert into tb_notice(
			id,title,author,content,auth,date
		)values(
			#{id},
			#{title},
			#{author},
			#{content},
			#{auth},
			#{date}
		)
	</insert>

    <!-- 查询所有 -->
    <select id="query" resultMap="Notice">
        select * from tb_notice
        <include refid="NoticeFindCriteria"/>
    </select>

    <!-- 查询总记录条数 -->
    <select id="count" resultType="int">
        select count(1) from tb_notice
        <include refid="NoticeFindCriteria"/>
    </select>

    <!-- 明细查询（只返回一条数据） -->
    <select id="detail" resultMap="Notice">
        select * from tb_notice
        <include refid="NoticeFindCriteria"/>
        limit 1
    </select>

    <!-- 删除 -->
    <delete id="delete">
        delete from tb_notice
        <include refid="NoticeFindCriteria"/>
    </delete>

    <!-- 修改 -->
    <update id="update" >
        update tb_notice
        set
            title = #{title},
            author = #{author},
            content=#{content}
        where
           id = #{id}
    </update>

    <!-- 查询的通用片段 -->
    <sql id="NoticeFindCriteria">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="title != null and title != ''">and title like concat('%',#{title} ,'%')</if>
            <if test="author != null and author != ''">and author like concat('%',#{author} ,'%')</if>
            <if test="content != null and content != ''">and content=#{content}</if>
            <if test="auth != null and auth != ''">and auth=#{auth}</if>
            <if test="date != null and date != ''">and date =#{date}</if>
        </where>
    </sql>

    <!-- 修改的通用片段 -->
    <sql id="NoticeUpdateCriteria">
        <set>
            <if test="id != null">and id = #{id}</if>
            <if test="title != null and title != ''">and title = #{title}</if>
            <if test="author != null and author != ''">and author = #{author}</if>
            <if test="content != null and content != ''">and content=#{content}</if>
            <if test="auth != null and auth != ''">and auth=#{auth}</if>
            <if test="date != null and date != ''">and date =#{date}</if>
        </set>
    </sql>
</mapper>